@inherits LayoutComponentBase
<div class="page">


    @if (user?.Identity?.IsAuthenticated == true)
    {
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Website Name -->
                <a class="navbar-brand" href="/">Inventory</a>

                <!-- Right-aligned content -->
                <div class="d-flex align-items-center">
                    <span class="me-3">Logged in as @user?.Identity?.Name</span>
                    <button class="btn btn-sm btn-danger" @onclick=SignOutAsync>Logout</button>
                </div>
            </div>
        </nav>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>



    <div id="errorModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
