@page "/"
<PageTitle>Home</PageTitle>



<AuthorizeView>

    <Authorized>
        <h2>Welcome User</h2>
    </Authorized>
    <NotAuthorized>
        <a href="login">Login NOW!</a>
    </NotAuthorized>


</AuthorizeView>